
body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}


.middle-wrapper::after, .top-row::after, .container::after {
    content: "";
    clear: both;
    display: table;
}


#box1 {
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
}


.middle-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.left-column {
    float: left;
    width: 74%; /
    margin-right: 1%;
}

#box4 {
    float: right;
    width: 25%;
    min-height: 400px; 
}


.top-row {
    width: 100%;
    margin-bottom: 10px;
}


#box2 {
    float: left;
    width: 30%;
    margin-right: 2%;
    height: 200px;
}


#box3 {
    float: left;
    width: 68%;
    height: 200px;
}

#box5 {
    clear: both;
    width: 100%;
    height: 100px;
}


#box6 {
    clear: both; 
    width: 100%;
    height: 80px;
}
#box-2{
	
	height: 50vh;
	width: 25%;
	float: left;
}

#box-3{
	
	height: 50vh;
	overflow: hidden;
	float: left;
	width: 50%;
}

#box-4{
	height: 50vh;
	
	width: 25%;
	float: right;
}

#box-5{
	height: 10vh;
	
	width:75%;
	clear: both;
}
#box-6{
	height: 25vh;

	width: 100%;
	clear: both;

}