
body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.5); 
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box; 
}


#box1 {
    width: 100%;
    margin-bottom: 10px;
    min-height: 100px;
}

.middle-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}


.left-column {
    display: flex;
    flex-direction: column;
    flex: 3; 
    gap: 10px;
}

.top-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
}

#box2 {
    flex: 1; 
    min-height: 150px;
}

#box3 {
    flex: 2; 
    min-height: 150px;
}

#box5 {
    min-height: 100px;

}


#box4 {
    flex: 1; 

}


#box6 {
    width: 100%;
    min-height: 80px;
}
